p Стикеры
.stickers
  form.stickers__form(action="#" id="save_emoji" enctype="multipart/form-data" method="post" name="addSticker")
    label(for="emoji") Emoji
    input(type="text" name="emoji" id="emoji").input.stickers__emoji
    input(type="file" name="image" id="image")
    button(type="submit") Добавить
