p Список доступных команд
.commands__list
  .commands__item
    .commands__name changelog
    .commands__desc Получить список изменений
  .commands__item
    .commands__name log
    .commands__desc Получить статистику вызова команд
  .commands__item
    .commands__name commands
    .commands__desc Получить список команд
  .commands__item
    .commands__name кто илита? || кто илита || илита
    .commands__desc Узнать кто илита Friday
  .commands__item
    .commands__name bash || баш || башорг
    .commands__desc Cлучайная баш цитата
  .commands__item
    .commands__name сколько попугаев? || сколько попугаев || сколько? || сколько
    .commands__desc Узнать сколько отправлено попугаев
  .commands__item
    .commands__name бородатый анекдот || расскажи анекдот || анекдот
    .commands__desc Получить случайный анекдот
  .commands__item
    .commands__name есть кто живой? || есть кто живой || есть кто? || есть кто || кто живой? || кто живой
    .commands__desc Получить список активных пользователей
  .commands__item
    .commands__name скажи [ваш текст]
    .commands__desc Написать текст из попугаев в строку
  .commands__item
    .commands__name говори [ваш текст]
    .commands__desc Написать текст из попугаев в столбец
