extends layouts/main

block content
  .bg
  //- .login
  //-   form(method="POST" action="/login").form.login__form#login
  //-     .login__status
  //-     input#username.input.login__input(type="text" name="name" placeholder="Имя пользователя")
  //-     input#password.input.login__input(type="password" name="password" placeholder="Пароль")
  //-     button.button.button_primary(type="submit") Войти
  //- .parrots.parrots_login
  //-   span Уже отправлено
  //-   span.parrots__count
  //-   span.parrots__word шт.
