extends layouts/main

block content
  form(method="POST" action="/auth")
    input(type="text" name="name")
    input(type="password" name="password")
    button(type="submit") Login
  //- .wrapper
  //-   .logo
  //-     .logo__img
  //-       img(src="http://cultofthepartyparrot.com/assets/parrot.svg", alt="Friday")
  //-     .logo__text #friday
  //-   .tabs
  //-     .tab
  //-       input#tab-1(type='radio', name='tab-group-1', checked='')
  //-       label(for='tab-1') Fridaybot
  //-       .content
  //-         p Fridaybot может овечать на сообщения, которые отправляют пользователи
  //-         textarea
  //-     .tab
  //-       input#tab-2(type='radio', name='tab-group-1')
  //-       label(for='tab-2') Команды
  //-       .content
  //-         p Stuff for Tab Two
  //-         img(src='http://placekitten.com/200/100')
  //-     .tab
  //-       input#tab-3(type='radio', name='tab-group-1')
  //-       label(for='tab-3') Настройки
  //-       .content
  //-         p Stuff for Tab Three
  //-         img(src='http://placedog.com/200/100')
  //-   button(type="submit") Сохранить
