*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  color: #555459;
  background-color: #f9f9f9;
  font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.logout {
  position: absolute;
  top: 20px;
  right: 50px;
  color: #fff;
  text-decoration: none;
}

.logout:hover {
  opacity: 0.8;
}

.logo {
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}

.logo__img img {
  width: 227px;
}

.logo__text {
  font-size: 72px;
}

.tabs {
  max-width: 660px;
  position: relative;
  min-height: 200px;
  clear: both;
  margin: 0 auto;
  margin-top: 30px;
  background: white;
  margin-bottom: 30px;
}

.textarea {
  max-height: 250px;
  background: #ffffff;
  border: 1px solid #c9cccf;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: -0.49px;
  border: none;
  padding: 10px;
}

.button_default {
  color: #fff;
  background-color: #cdcdcd;
}

.button_primary {
  background: #1db379;
  color: #fbfbfa;
  min-width: 200px;
}

.button_primary:hover {
  box-shadow: 0px 1px 0px 0px #0e714b;
}

.input {
  border: 1px solid #c9cccf;
  border-radius: 5px;
}

.bg {
  background: url('./../images/bg-parrot.jpg') no-repeat top center;
  /*margin-bottom: 30px;*/
  padding-top: 280px;
}

.login {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  transition: 0.3s all ease;
}

.login__form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}

.login__input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: lowercase;
}

.login__status {
  text-align: center;
  font-size: 13px;
  color: #ea8282;
  margin-bottom: 5px;
}

.parrots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  text-align: center;
}

.parrots_login {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.parrots_home {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.parrots span {
  margin: 3px 0;
  padding: 0 2px;
}

.parrots__count {
  font-size: 18px;
  font-weight: bold;
}

.messages {
}

.messages__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.messages__input {
  padding: 10px;
  font-size: 18px;
  width: 100%;
  text-transform: uppercase;
}

.last_edited {
  margin-top: 5px;
  font-size: 13px;
  color: #838383;
}

.last_edited span {
  padding-left: 3px;
}

.messages__item-input {
  width: 40%;
  margin-right: 20px;
}

.messages__textarea {
  width: 50%;
}

.messages__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  font-size: 20px;
  text-align: center;
  width: 25px;
}

.messages__add,
.settings__save {
  display: flex;
  justify-content: flex-end;
}

.messages__add i {
  margin-right: 10px;
}

.messages__buttons a {
  margin-bottom: 10px;
}

.messages__buttons a:hover {
  opacity: 0.8;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #1db379;
  background: #1db379;
  font-weight: normal;
  color: #ffffff;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  padding: 0.5em 0.8em;
  text-decoration: none;
}

.ui-widget-header {
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  border-radius: 0;
}

.ui-tabs .ui-tabs-nav {
  margin-left: -3px;
  padding-left: 4px;
  margin-right: -3px;
}

.messages__button-check {
  display: none;
}

.settings {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.settings__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 20px;
}

.settings__item-col {
  width: 50%;
}

.settings__input {
  padding: 10px;
  font-size: 18px;
  width: 100%;
  margin-right: 20px;
}

.settings__textarea {
  width: 100%;
  height: 200px;
}

.commands__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.commands__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 28px;
}

.commands__name {
  width: 40%;
  font-weight: bold;
}

.commands__desc {
  width: 60%;
}

.settings__save {
  position: relative;
}

.settings__message {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 5px;
}

@media screen and (max-width: 1300px) {
  .ui-tabs .ui-tabs-panel {
    padding: 10px;
  }
  .messages__item {
    position: relative;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
  .messages__item-input {
    width: 100%;
    margin-bottom: 10px;
  }
  .messages__textarea {
    width: calc(100% - 40px);
  }
  .messages__buttons {
    position: absolute;
    top: 70px;
    right: 8px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__container {
  position: absolute;
  background-color: #fff;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 4px;
  max-width: 500px;
  width: 95%;
  min-width: 300px;
  padding: 20px;
}

.modal__form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.modal__form label {
  margin-bottom: 4px;
}

.modal__form-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.modal__input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.modal__form button {
  margin-top: 10px;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #333;
}

.modal__close:hover {
  opacity: 0.8;
}

.modal__textarea {
  font-size: 18px;
}

.stickers__form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

.stickers__emoji {
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  font-size: 14px;
  overflow: hidden;
  width: 100%;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.stickers__input {
  padding: 10px;
  font-size: 18px;
  width: 50%;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.stickers__item {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 5px;
}

.stickers__list {
  display: flex;
  flex-flow: row wrap;
}

.stickers__image {
  margin: 0 auto;
}

.stickers__image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  display: block;
  cursor: pointer;
}

.inputfile + label > i {
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #c9cccf;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 10px;
  color: #666666;
  font-style: normal;
}

.inputfile + label * {
  pointer-events: none;
}

.stickers__delete {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.stickers__item:hover .stickers__delete {
  display: block;
}

.date {
  text-align: center;
}

.date input {
  padding: 5px;
  margin: 10px;
}

.sending {
  text-align: center;
}

.donate-text {
  max-width: 320px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}

.donate-text a {
  color: #f32a2a;
  text-decoration: none;
  font-weight: bold;
}

.donate-text a:hover {
  text-decoration: underline;
}

.donane {
  max-width: 420px;
  margin: 0 auto;
}

.donate__frame {
  width: 420px;
  margin: 0 auto;
}

.donate__header {
  text-align: center;
  font-size: 18px;
}

.donate__footer {
  margin-bottom: 10px;
}

.donate__footer a {
  color: #1db379;
}

.donate__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
}

.donate__item-image img {
  max-width: 100%;
  width: 18px;
  height: auto;
}

.donate__input {
  border: 1px solid #c9cccf;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: lowercase;
  width: 100%;
}

.donate__submit {
  text-align: center;
  font-size: 18px;
  width: 100%;
}

.github {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
