*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  color: #555459;
  background-color: #F9F9F9;
  font-family: Helvetica, Arial, sans-serif;
}
.wrapper {
  position: relative;
}

.logout {
  position: absolute;
  top: 20px;
  right: 50px;
  color:  #fff;
  text-decoration: none;
}
.logout:hover {
  opacity: .8;
}

.logo {
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}

.logo__img img {
  width: 227px;
}

.logo__text {
  font-size: 72px;
}

.tabs {
  max-width: 660px;
  position: relative;
  min-height: 200px;
  clear: both;
  margin: 0 auto;
  margin-top: 30px;
  background: white;
  margin-bottom: 30px;
}

.textarea {
  height: 150px;
  background: #FFFFFF;
  border: 1px solid #C9CCCF;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

button {
  cursor: pointer;
  background: #1DB379;
  border-radius: 5px;
  font-size: 18px;
  color: #FBFBFA;
  letter-spacing: -0.49px;
  border: none;
  padding: 10px;
  min-width: 200px;
}

.input {
  border: 1px solid #C9CCCF;
  border-radius: 5px;
}

.bg {
  background: url('./../images/bg-parrot.jpg') no-repeat top center;
  margin-bottom: 30px;
  padding-top: 280px;
}

.login {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.login__form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}

.login__input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.parrots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  text-align: center;
}

.parrots_login {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.parrots_home {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.parrots span {
  margin: 3px 0;
  padding: 0 2px;
}

.parrots__count {
  font-size: 18px;
  font-weight: bold;
}

.messages {}

.messages__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.messages__input {
  padding: 10px;
  font-size: 18px;
  width: 40%;
  margin-right: 20px;
}

.messages__textarea {
  width: 50%;
}

.messages__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  font-size: 20px;
  text-align: center;
  width: 25px;
}

.messages__buttons a {
  margin-bottom: 5px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #1DB379;
  background: #1DB379;
  font-weight: normal;
  color: #ffffff;
}

.messages__button-check {
  display: none;
}
