doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(name="renderer", content="webkit")
    title=title
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(name="description", content="Slack bot")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
  body
    block content
